.container{
	input{
		padding: 20px;
		min-width: 100%;
		font-size: 30px;
		margin-bottom: 30px;
	}
	.definitions{
		padding : 30px 0;
		.meaning{
			font-size : 20px;
			padding : 10px 0;
			font-weight: bold;
		}
		.attribution{
			font-size : 12px;
			padding : 0 0 20px 0;
		}
	}
}